<div>
  <p class="title-product">
    Productos disponibles
  </p>

  <p-scrollPanel [style]="{ width: '390px', height: '80px' }" styleClass="custombar2">
  <div class="menu-filter">
    <ul class="list-filter">
      <li class="number-filter"><a href="#" class="active">Frutas</a></li>
      <li><a  class="link-filter" href="#">Carnicería</a></li>
      <li><a  class="link-filter" href="#">Lácteos</a></li>
      <li><a  class="link-filter" href="#">Panadería</a></li>
      <li><a  class="link-filter" href="#">Bebidas</a></li>
      <li><a  class="link-filter" href="#">Congelados</a></li>
      <li><a  class="link-filter" href="#">Café</a></li>
      <li><a  class="link-filter" href="#">Té</a></li>
      <li><a  class="link-filter" href="#">Condimentos</a></li>
      <li><a  class="link-filter" href="#">Salsas</a></li>
      <li><a  class="link-filter" href="#">Cuidado Personal</a></li>
      <li><a  class="link-filter" href="#">Fritos</a></li>
      <li><a  class="link-filter" href="#">Postres</a></li>
    </ul>
  </div>
</p-scrollPanel>

  <div class="category-product">
    Categoria del producto
  </div>

  <div class="card-product">
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
    <div class="card">
      <div class="product-img">
        <img src="../../../assets/icon/Image-removebg-preview 1.png" alt="">
      </div>
      <div class="text-prod">
        Manzana
      </div>
      <div class="price-add">
        <p>$ 5,500</p>
        <img src="../../../assets/add.svg" alt="" class="add-icon">
      </div>
    </div>
  </div>
</div>
