.custom-input {
  border-radius: 30px;
  background: var(--grocery-box-01, #F8F8F8);
  width: 366px;
  height: 60px;
  padding-left: 60px;
  border: none;
}


.custom-icon{
  width: 20px;
height: 20px;
flex-shrink: 0;
}

